[submodule "protocol"]
	path = protocol
	url = https://github.com/livekit/protocol

[submodule "LivekitRtc/rust-sdks"]
	path = LivekitRtc/rust-sdks
	url = https://github.com/verji/rust-sdks.git
	branch = verji-main
